<app-header></app-header>
<main class="page-body">
<div class="row">
    <div class="col s12 page-title-div">
      <h1 class="header">Registro de Compras</h1>
      <ol class="breadcrumbs left">
        <li>
          <a routerLink="/compras">Compras</a>
        </li>
        <li class="active">Registrar</li>
      </ol>
    </div>
  </div>
  <section class="section">
    <div class="row ">
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <form [formGroup]="comprasForm" (ngSubmit)="preRegistro()">
              <mz-select-container class="col s6">
                <select mz-select id="options-select" [label]="'Nombre de Producto'" formControlName="tipo_producto" [placeholder]="'.: Selecciona :.'">
                  <option  *ngFor="let pro of productos" value="{{pro.uid}}||{{pro.nombre}}">{{pro.nombre}}</option>
                </select>
              </mz-select-container>

              <mz-select-container class="col s6">
                <select mz-select id="options-select" [label]="'Nombre de cliente'" formControlName="cliente" [placeholder]="'.: Selecciona :.'">
                  <option value="1">brenda tineo</option>
                  <option value="2">brayan lp</option>
                </select>
              </mz-select-container>

              <mz-input-container class="col s6">
                <input mz-input [label]="'Cantidad'" [validate]="true" type="number" formControlName="cantidad">
              </mz-input-container>

              <mz-input-container class="col s6">
                <input mz-input [label]="'Precio de compra'" [validate]="true" type="number" formControlName="precio_venta">
              </mz-input-container>
              <button class="btn waves-effect">Agregar</button>
            </form>

            <table border="1" align="center">
              <thead>
                <td>
                  Nombre del usuario
                </td>
                <td>
                  Nombre del Cliente
                </td>
                <td>
                  Fecha de Compra
                </td>
                <td>
                  Total
                </td>
                <td>
                  Acciones
                </td>
              </thead>
              <tbody>
                <tr *ngFor="let lis of temp_data; let i = index">
                  <td>{{lis.usuario.nombre}}</td>
                  <td>{{lis.cliente.nombre}}</td>
                  <td>{{lis.fecha_venta | date:"dd-MM-yyyy h:mm:ss a"}}</td>
                  <td>{{lis.precio_compra * lis.cantidad | currency: "PEN":false}}</td>
                  <td>
                    <!-- <button>Editar</button> -->
                    <button (click)="eliminar(i)">Eliminar</button>
                  </td>
                </tr>
                <tr *ngIf="temp_data.length <= 0">
                  no hay compras agregadas
                </tr>
              </tbody>
            </table>

            <h1>Total a pagar: {{ total }}</h1>
            <form [formGroup]="pagarForm" (ngSubmit)="pagar()" *ngIf="temp_data.length > 0">
              <div class="form-group">
                <label for="name">Cantidad</label>
                <br>
                <input type="text" formControlName="cantidad">
              </div>
              <button>Pagar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</main>
